#bg-gradient {
    background: linear-gradient(#fff, #1d7b49);
    min-height: 200px;
}
.widget {
  margin: 50px 0;
}

.widget .widget-title {
  border-left: 3px solid  #1d7b49;
  padding: 0 0 0 1rem;
  text-transform: uppercase;
}

.widget .program {
  padding: 20px;
}
.widget .program img {
  width: 200px;
  height: auto;
}
.widget .counts {
  margin: 50px 0;
  padding: 30px 0;
  background-color: #ffee97;

}
.widget .counts .counters span {
  font-size: 64px;
  display: block;
  color: #000;
  font-weight: 700;
}
.widget .counts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 15px;
  font-weight: 600;
  color: #37423b;
}
.widget .laporan {
  padding: 0 20px;
  background-color: rgba(255,255,255,0.3);
  backdrop-filter: blur(12px);
}

.widget table .table-head th{
  background-color: rgba(255,255,255,0.3);
  color: #000;
}
.widget table .color-green {
  background-color: #1d7b49;
  color: #fff;
}
.widget table .color-yellow {
  background-color: #ff9702;
  color: #fff;
}
.widget table a {
  color: #fff;
}
.widget .galeri {
  background-color: #999;
  min-height: 200px;
  padding: 75px;
}
.widget .kerjasama {
  background-color: #999;
  min-height: 200px;
  padding: 75px;
}

.widget .kerjasama img {
  max-width: 100%;
  width: auto;
  max-height: 64px;
  padding: 0px 5px 0 5px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
@media(max-width: 760px)
{
  .widget .kerjasama img {
    max-width: 75%;
    max-height: 64px;
    padding: 0 0 5px 0;
  }
}
.widget .kerjasama img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.widget .zakat {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
  border: 0.0625rem solid rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  margin: 10px;
}

:root {
    --color: #034e2f;
    --transition-time: 0.5s;
}
.cards-wrapper {
    box-sizing: border-box;
    margin: 0;
    min-height: 50vh;
    background: #fafafa;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
    padding: 2rem 0;
    margin: 0 auto;
    width: max-content;
}
.card {
    --bg-filter-opacity: 0.5;
    background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
    height: 200px;
    width: 200px;
    font-size: 1.5em;
    color: white;
    border-radius: 1em;
    display: flex;
    padding: 3rem 2rem;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 5em -1em white;
    transition: all, var(--transition-time);
    position: relative;
    overflow: hidden;
    border: 10px solid #ccc;
    align-content: center;
    text-align: center;
    text-decoration: none;
}

.card:hover {
    transform: rotate(0);
}

.card h1 {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.2em;
}

.card p {
    font-size: 0.75em;
    margin-top: 0.5em;
    line-height: 2em;
    white-space: nowrap; 
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.card .tags {
    display: flex;
}

.card .tags .tag {
    font-size: 0.75em;
    background: rgba(255,255,255,0.5);
    border-radius: 0.3rem;
    padding: 0 0.5em;
    margin-right: 0.5em;
    line-height: 1.5em;
    transition: all, var(--transition-time);
}

.card:hover .tags .tag{
    background: var(--color);
    color: white;
}

.card .date {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.75em;
    padding: 1em;
    line-height: 1em;
    opacity: .8;
}

.card:before, .card:after {
    content: '';
    transform: scale(0);
    transform-origin: top left;
    border-radius: 50%;
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: -5;
    transition: all, var(--transition-time);
    transition-timing-function: ease-in-out;
}

.card:before {
    background: #ddd;
    width: 250%;
    height: 250%;
}

.card:after {
    background: white;
    width: 200%;
    height: 200%;
}

.card:hover {
    color: var(--color);
}

.card:hover:before, .card:hover:after {
    transform: scale(1);
}

.card-grid-space .num {
    font-size: 3em;
    margin-bottom: 1.2rem;
    margin-left: 1rem;
}
.card-grid-space a {
  text-decoration: none;
}
.card-grid-space a:hover {
  text-decoration: none;
}
.info {
    font-size: 1.2em;
    display: flex;
    padding: 1em 3em;
    height: 3em;
}

.info img {
    height: 3em;
    margin-right: 0.5em;
}

.info h1 {
    font-size: 1em;
    font-weight: normal;
}

@media screen and (max-width: 1285px){
    .cards-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 900px) {
    .cards-wrapper {
        grid-template-columns: 1fr;
    }
    .info {
        justify-content: center;
    }
    .card-grid-space .num {
        margin-left: 0;
        text-align: center;
    }
}

@media screen and (max-width: 500px){
    .cards-wrapper {
        padding: 4rem 2rem;
    }
    .card {
        max-width: calc(100vw - 4rem);
    }
}

@media screen and (max-width: 450px){
    .info {
        display: block;
        text-align: center;
    }
    .info h1 {
        margin: 0;
    }
}