/* Author : Baznas Bazis DKI Jakarta
2022 */

/* 
# Reset 
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}
body {
    font-family: "Poppins", sans-serif;
    color: #555555;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #000000;
  }
  
  a {
    color: #000000;
    text-decoration: none;
    transition: all 0.5s ease;
  }
  a:hover {
    color:  #034e2f;
    text-decoration: none;
  }
  
  .link-two {
    color: #000000;
    transition: all 0.5s ease;
  }
  .link-two:hover {
    text-decoration: underline;
    color: #000000;
  }
  
  .link-one {
    color: #000000;
    transition: all 0.5s ease;
  }
  .link-one:hover {
    color: #000000;
    text-decoration: none;
  }
  
  .link-icon {
    color: #000000;
    font-weight: 500;
  }
  .link-icon span {
    font-size: 14px;
    padding-left: 4px;
    vertical-align: middle;
  }
  
  .link-a {
    text-decoration: none;
    color: #ffffff;
    text-decoration: none;
  }
  @media (min-width: 768px) {
    .link-a {
      font-size: 0.9rem;
    }
  }
  @media (min-width: 992px) {
    .link-a {
      font-size: 1rem;
    }
  }
  .link-a:hover {
    color: #ffffff;
    text-decoration: none;
  }
  .link-a span {
    font-size: 18px;
    vertical-align: middle;
    margin-left: 5px;
  }
  @media (min-width: 768px) {
    .link-a span {
      font-size: 1.5rem;
    }
  }
  @media (min-width: 992px) {
    .link-a span {
      font-size: 18px;
    }
  }
  
  .text-brand {
    color: #000000;
    font-size: 2rem;
    font-weight: 600;
  }
  @media (max-width: 767px) {
    .text-brand {
      font-size: 1.8rem;
    }
  }
  
  .color-a {
    text-decoration: none;
    color: #000000;
  }
  
  .color-b {
    color:  #034e2f;
  }
  
  .color-d {
    color: #adadad;
  }
  
  .color-text-a {
    text-decoration: none;
    color: #555555;
  }
  
  .no-margin {
    margin: 0;
  }
.color-white {
	color: #fff;
}
.color-white:hover {
	color: #fff;
}
.bg-nav {
	min-height: 250px;
	background-image: url("../../assets/img/header-img.jpg");
	background-attachment: fixed;
	background-position: 70% 100%;
	background-repeat: no-repeat;
	background-size:cover;
	opacity: 95%;
}
.bg-nav-white {
	min-height: 100px;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
}
@media (max-width: 767px) {
	.bg-nav-white {
		min-height: 80px;
	}
}

.bg-img {
	background-image: url("../../assets/img/header-img.jpg");
	background-attachment: fixed;
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size:cover;
}
.bg-img-rad {
	background-image: url("../../assets/img/header-img.jpg");
	background-attachment: fixed;
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
	border: 0.0625rem solid rgba(0, 0, 0, 0.5);
	border-radius: 0.5rem;
}
.bg-img-bw {
	/* position: relative; */
	background-image: url("../../assets/img/bg-bw.jpg");
	background-attachment: fixed;
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.bg-glass {
	padding: 20px;
	background-color: rgba(255,255,255,0.3);
  	backdrop-filter: blur(12px);
}

.break-img {
	display: block;
	position: relative;
	width: 100%;
	max-height: 250px;
	overflow: hidden;
	margin-top: 90px;
}
@media (max-width: 767px) {
	.break-img {
		max-height: 150px;
	}
}
.break-img img {
    display: block;
    width: 100%;
    max-height: 340px;
    object-fit: cover;
    object-position: center;
    z-index: 1;
	filter: grayscale(100%);
}
/* Content */
.content {
    min-height: 500pt;
	margin-bottom: 10px;
}

.not-found {
	padding-top: 150px;
	text-align: center;
}
.not-found h1 {
	font-size: 190px;
}
.not-found h3 {
	text-transform: uppercase;
}
.not-found a {
	color: #034e2f;
	text-decoration: none;
}
.not-found a:hover {
	color: #ffd602;
}

@media (max-width: 767px) {
	.not-found {
		padding-top: 200px;
	}
    .not-found h1 {
		font-size: 150px;
	}
	.not-found h3 {
		font-size: 20px;
		text-transform: uppercase;
	}
	.not-found a {
		color: #034e2f;
		text-decoration: none;
	}
	.not-found a:hover {
		color: #ffd602;
	}
  }

/* Navbar */
/*------/ Nav Pills  /------*/
.nav-pills-a {
    text-decoration: none;
  }
  .nav-pills-a.nav-pills .nav-link {
    color: #000000;
    position: relative;
    font-weight: 600;
  }
  .nav-pills-a.nav-pills .nav-link.active {
    background-color: transparent;
  }
  .nav-pills-a.nav-pills .nav-link.active:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color:  #034e2f;
    z-index: 2;
  }
.nav-arrow-a {
    text-decoration: none;
  }
  .nav-arrow-a .owl-arrow .owl-nav {
    font-size: 1.8rem;
    margin-top: -110px;
  }
  .nav-arrow-a .owl-arrow .owl-nav .owl-next {
    margin-left: 15px;
  }
  
  .nav-arrow-b .owl-arrow .owl-nav {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.2rem;
  }
  .nav-arrow-b .owl-arrow .owl-nav .owl-prev,
  .nav-arrow-b .owl-arrow .owl-nav .owl-next {
    padding: 0.7rem 1.5rem !important;
    display: inline-block;
    transition: all 0.6s ease-in-out;
    color: #ffffff;
    background-color:  #034e2f;
    opacity: 0.9;
  }
  .nav-arrow-b .owl-arrow .owl-nav .owl-prev.disabled,
  .nav-arrow-b .owl-arrow .owl-nav .owl-next.disabled {
    transition: all 0.6s ease-in-out;
    color: #ffffff;
  }
  .nav-arrow-b .owl-arrow .owl-nav .owl-prev:hover,
  .nav-arrow-b .owl-arrow .owl-nav .owl-next:hover {
    background-color: #26a356;
  }
  .nav-arrow-b .owl-arrow .owl-nav .owl-next {
    margin-left: 0px;
  }

.navbar-toggle-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    padding: 10px;
  }
  .navbar-toggle-box i {
    line-height: 0;
  }

.navbar-default {
    transition: all 0.5s ease-in-out;
    background-color: transparent;
    padding-top: 28px;
    padding-bottom: 28px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  @media (max-width: 991px) {
    .navbar-default {
      background-color: #ffffff;
      box-shadow: 1px 2px 15px rgba(100, 100, 100, 0.3);
      padding-top: 0px;
    }
  }
  .navbar-default .nav-search {
    color: #000000;
    font-size: 1.5rem;
  }
  .navbar-default.navbar-reduce {
    box-shadow: 1px 2px 15px rgba(100, 100, 100, 0.3);
  }
  .navbar-default.navbar-trans, .navbar-default.navbar-reduce {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-default.navbar-trans .nav-item, .navbar-default.navbar-reduce .nav-item {
    position: relative;
    padding-right: 5px;    
    margin-left: 0;
  }
  @media (min-width: 768px) {
    .navbar-default.navbar-trans .nav-item, .navbar-default.navbar-reduce .nav-item {
      margin-left: 15px;      
    }
  }
  .navbar-default.navbar-trans .nav-link, .navbar-default.navbar-reduce .nav-link {
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    letter-spacing: 0.03em;
    transition: all 0.1s ease-in-out;
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-default.navbar-trans .nav-link:before, .navbar-default.navbar-reduce .nav-link:before {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: 0;
    background-color:  #034e2f;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out 0.3s;
  }
  .navbar-default.navbar-trans .nav-link:hover, .navbar-default.navbar-reduce .nav-link:hover {
    color: #000000;
  }
  .navbar-default.navbar-trans .nav-link:hover:before, .navbar-default.navbar-reduce .nav-link:hover:before {
    transform: scaleX(1);
    transform-origin: left;
  }
  .navbar-default.navbar-trans .show > .nav-link:before,
  .navbar-default.navbar-trans .active > .nav-link:before,
  .navbar-default.navbar-trans .nav-link.show:before,
  .navbar-default.navbar-trans .nav-link.active:before, .navbar-default.navbar-reduce .show > .nav-link:before,
  .navbar-default.navbar-reduce .active > .nav-link:before,
  .navbar-default.navbar-reduce .nav-link.show:before,
  .navbar-default.navbar-reduce .nav-link.active:before {
    transform: scaleX(1);
  }
  .navbar-default.navbar-trans .nav-link:before {
    background-color:  #034e2f;
  }
  .navbar-default.navbar-trans .nav-link:hover {
    color: #000000;
  }
  .navbar-default.navbar-trans .show > .nav-link,
  .navbar-default.navbar-trans .active > .nav-link,
  .navbar-default.navbar-trans .nav-link.show,
  .navbar-default.navbar-trans .nav-link.active {
    color: #000000;
  }
  .navbar-default.navbar-reduce {
    transition: all 0.5s ease-in-out;
    padding-top: 19px;
    padding-bottom: 19px;
  }
  .navbar-default.navbar-reduce .nav-link {
    color: #000000;
  }
  .navbar-default.navbar-reduce .nav-link:before {
    background-color:  #034e2f;
  }
  .navbar-default.navbar-reduce .nav-link:hover {
    color: #000000;
  }
  .navbar-default.navbar-reduce .show > .nav-link,
  .navbar-default.navbar-reduce .active > .nav-link,
  .navbar-default.navbar-reduce .nav-link.show,
  .navbar-default.navbar-reduce .nav-link.active {
    color: #000000;
  }
  .navbar-default.navbar-reduce .navbar-brand {
    color: #000000;
  }
  .navbar-default .navbar-brand img{
    width: 100px;
    height: auto;
  }
  @media (max-width: 991px) {
    .navbar-default .navbar-brand img{
        width: 75px;
        height: auto;
      }
  }
  .navbar-default .dropdown .dropdown-menu {
    border-top: 0;
    border-left: 4px solid  #034e2f;
    border-right: 0;
    border-bottom: 0;
    transform: translate3d(0px, 40px, 0px);
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    transition: all 0.5s cubic-bezier(0.3, 0.65, 0.355, 1) 0s, opacity 0.31s ease 0s, height 0s linear 0.36s;
    margin: 0;
    border-radius: 0;
    padding: 12px 0;
  }
  @media (min-width: 768px) {
    .navbar-default .dropdown .dropdown-menu {
      border-top: 4px solid  #034e2f;
      border-left: 0;
      display: block;
      position: absolute;
      box-shadow: 0 2px rgba(17, 16, 15, 0.1), 0 2px 10px rgba(20, 19, 18, 0.1);
    }
    .navbar-shrink {
      background-color: #fff;
      box-shadow: 1px 2px 15px rgba(100, 100, 100, 0.3);
    }
    .navbar-shrink .navbar-brand {
      color: #000;
    }
    .navbar-shrink .nav-link {
      color: #000;
      padding: 1.5rem 1.5rem 1.25rem;
    }
    .navbar-shrink .nav-link:hover {
      color: #64a19d;
    }
    .navbar-shrink .nav-link:active {
      color: #467370;
    }
    .navbar-shrink .nav-link.active {
      color: #64a19d;
      outline: none;
    }
  }
  .navbar-default .dropdown .dropdown-menu .dropdown-item {
    padding: 12px 18px;
    transition: all 500ms ease;
    font-weight: 600;
    min-width: 220px;
  }
  .navbar-default .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #ffffff;
    color:  #034e2f;
    transition: all 500ms ease;
  }
  .navbar-default .dropdown .dropdown-menu .dropdown-item.active {
    background-color: #ffffff;
    color:  #034e2f;
  }
  .navbar-default .dropdown:hover .dropdown-menu {
    transform: translate3d(0px, 0px, 0px);
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=1);
  }
  .navbar-default .dropdown .dropdown-menu ul {
    list-style: none;
  }
  .navbar-default .dropdown .dropdown-menu ul li {
    padding: 6px 9px;
  }
  .navbar-default .dropdown .dropdown-menu ul li a {
    color: #000000;
    text-decoration: none;
    transition: all 0.5s ease;
    

  }
  .navbar-default .dropdown .dropdown-menu ul li a:hover {
    color:  #034e2f;
    text-decoration: none;
  }
  
  /*------/ Hamburger Navbar /------*/
  .navbar-toggler {
    position: relative;
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: 0;
  }
  
  .navbar-toggler span {
    display: block;
    background-color: #000000;
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    transform: rotate(0deg);
    left: 0;
    opacity: 1;
  }
  
  .navbar-toggler span:nth-child(1),
  .navbar-toggler span:nth-child(3) {
    transition: transform 0.35s ease-in-out;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    transform: rotate(135deg);
    opacity: 0.9;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    transform: rotate(-135deg);
    opacity: 0.9;
  }

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	overflow: hidden;
	position: relative;  
  }
  #hero .carousel, #hero .carousel-inner, #hero .carousel-item, #hero .carousel-item::before {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
  }
  #hero .carousel-container {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	position: absolute;
	bottom: 60px;
	top: 70px;
	left: 55px;
	right: 55px;
  }
  #hero .carousel-content {
	background: rgba(4, 4, 4, 0.7);
	padding: 20px;
	color: #fff;
	border-top: 5px solid  #1d7b49;
  }
  #hero .carousel-content h2 {
	color: #fff;
	margin-bottom: 20px;
	font-size: 28px;
	font-weight: 700;
  }
  #hero .btn-get-started {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 12px 32px;
	border-radius: 4px;
	transition: 0.5s;
	line-height: 1;
	margin: 10px;
	color: #fff;
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
	border: 2px solid  #1d7b49;
  }
  #hero .btn-get-started:hover {
	background:  #1d7b49;
	color: #fff;
	text-decoration: none;
  }
  #hero .carousel-inner .carousel-item {
	transition-property: opacity;
	background-position: center top;  
  }
  #hero .carousel-inner .carousel-item,
  #hero .carousel-inner .active.carousel-item-start,
  #hero .carousel-inner .active.carousel-item-end {
	opacity: 0;
  }
  #hero .carousel-inner .active,
  #hero .carousel-inner .carousel-item-next.carousel-item-start,
  #hero .carousel-inner .carousel-item-prev.carousel-item-end {
	opacity: 1;
	transition: 0.5s;
  }
  #hero .carousel-inner .carousel-item-next,
  #hero .carousel-inner .carousel-item-prev,
  #hero .carousel-inner .active.carousel-item-start,
  #hero .carousel-inner .active.carousel-item-end {
	left: 0;
	transform: translate3d(0, 0, 0);
  }
  #hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
	background: none;
	font-size: 30px;
	line-height: 0;
	width: auto;
	height: auto;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 50px;
	transition: 0.3s;
	color: rgba(255, 255, 255, 0.6);
	width: 54px;
	height: 54px;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  #hero .carousel-control-next-icon:hover, #hero .carousel-control-prev-icon:hover {
	background: rgba(255, 255, 255, 0.6);
	color: rgba(255, 255, 255, 0.8);
  }
  #hero .carousel-indicators li {
	cursor: pointer;
	background: #fff;
	overflow: hidden;
	border: 0;
	width: 12px;
	height: 12px;
	border-radius: 50px;
	opacity: 0.6;
	transition: 0.3s;
  }
  #hero .carousel-indicators li.active {
	opacity: 1;
	background:  #1d7b49;
  }
  @media (min-width: 1024px) {
	#hero .carousel-content {
	  width: 60%;
	}
	#hero .carousel-control-prev, #hero .carousel-control-next {
	  width: 5%;
	}
  }
  @media (max-width: 992px) {
	#hero .carousel-container {
	  top: 58px;
	}
	#hero .carousel-content h2 {
	  margin-bottom: 15px;
	  font-size: 22px;
	}
	#hero .carousel-content p {
	  font-size: 15px;
	}
  }
  @media (max-height: 500px) {
	#hero {
	  height: 120vh;
	}
  }

/*-------------------------------------------------------------- 
# Index 
--------------------------------------------------------------*/
#bg-gradient {
    background: linear-gradient(#fff, #1d7b49);
    min-height: 200px;
}
.widget {
  margin: 50px 0;
}

.widget .widget-title {
  border-left: 3px solid  #1d7b49;
  padding: 0 0 0 1rem;
  text-transform: uppercase;
}

.widget .program {
  padding: 20px;
}
.widget .program img {
  width: 200px;
  height: auto;
}
.widget .counts {
  margin: 50px 0;
  padding: 30px 0;
  background-color: #ffee97;

}
.widget .counts .counters span {
  font-size: 64px;
  display: block;
  color: #000;
  font-weight: 700;
}
.widget .counts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 15px;
  font-weight: 600;
  color: #37423b;
}
.widget .laporan {
  padding: 0 20px;
  background-color: rgba(255,255,255,0.3);
  backdrop-filter: blur(12px);
}

.widget table .table-head th{
  background-color: rgba(255,255,255,0.3);
  color: #000;
}
.widget table .color-green {
  background-color: #1d7b49;
  color: #fff;
}
.widget table .color-yellow {
  background-color: #ff9702;
  color: #fff;
}
.widget table a {
  color: #fff;
}
.widget .galeri {
  background-color: #999;
  min-height: 200px;
  padding: 75px;
}
.widget .kerjasama {
  background-color: #999;
  min-height: 200px;
  padding: 75px;
}

.widget .kerjasama img {
  max-width: 100%;
  width: auto;
  max-height: 64px;
  padding: 0px 5px 0 5px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
@media(max-width: 760px)
{
  .widget .kerjasama img {
    max-width: 75%;
    max-height: 64px;
    padding: 0 0 5px 0;
  }
}
.widget .kerjasama img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.widget .zakat {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
  border: 0.0625rem solid rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  margin: 10px;
}

:root {
    --color: #034e2f;
    --transition-time: 0.5s;
}
.cards-wrapper {
    box-sizing: border-box;
    margin: 0;
    min-height: 50vh;
    background: #fafafa;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
    padding: 2rem 0;
    margin: 0 auto;
    width: max-content;
}
.card {
    --bg-filter-opacity: 0.5;
    background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
    height: 200px;
    width: 200px;
    font-size: 1.5em;
    color: white;
    border-radius: 1em;
    display: flex;
    padding: 3rem 2rem;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 5em -1em white;
    transition: all, var(--transition-time);
    position: relative;
    overflow: hidden;
    border: 10px solid #ccc;
    align-content: center;
    text-align: center;
    text-decoration: none;
}

.card:hover {
    transform: rotate(0);
}

.card h1 {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.2em;
}

.card p {
    font-size: 0.75em;
    margin-top: 0.5em;
    line-height: 2em;
    white-space: nowrap; 
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.card .tags {
    display: flex;
}

.card .tags .tag {
    font-size: 0.75em;
    background: rgba(255,255,255,0.5);
    border-radius: 0.3rem;
    padding: 0 0.5em;
    margin-right: 0.5em;
    line-height: 1.5em;
    transition: all, var(--transition-time);
}

.card:hover .tags .tag{
    background: var(--color);
    color: white;
}

.card .date {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.75em;
    padding: 1em;
    line-height: 1em;
    opacity: .8;
}

.card:before, .card:after {
    content: '';
    transform: scale(0);
    transform-origin: top left;
    border-radius: 50%;
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: -5;
    transition: all, var(--transition-time);
    transition-timing-function: ease-in-out;
}

.card:before {
    background: #ddd;
    width: 250%;
    height: 250%;
}

.card:after {
    background: white;
    width: 200%;
    height: 200%;
}

.card:hover {
    color: var(--color);
}

.card:hover:before, .card:hover:after {
    transform: scale(1);
}

.card-grid-space .num {
    font-size: 3em;
    margin-bottom: 1.2rem;
    margin-left: 1rem;
}
.card-grid-space a {
  text-decoration: none;
}
.card-grid-space a:hover {
  text-decoration: none;
}
.info {
    font-size: 1.2em;
    display: flex;
    padding: 1em 3em;
    height: 3em;
}

.info img {
    height: 3em;
    margin-right: 0.5em;
}

.info h1 {
    font-size: 1em;
    font-weight: normal;
}

@media screen and (max-width: 1285px){
    .cards-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 900px) {
    .cards-wrapper {
        grid-template-columns: 1fr;
    }
    .info {
        justify-content: center;
    }
    .card-grid-space .num {
        margin-left: 0;
        text-align: center;
    }
}

@media screen and (max-width: 500px){
    .cards-wrapper {
        padding: 4rem 2rem;
    }
    .card {
        max-width: calc(100vw - 4rem);
    }
}

@media screen and (max-width: 450px){
    .info {
        display: block;
        text-align: center;
    }
    .info h1 {
        margin: 0;
    }
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio {
    margin: 10px 0px;
}
.portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 50px auto;
    list-style: none;
    text-align: center;
  }
  .portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 20px 10px 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    color: #4d4643;
    transition: all 0.3s;
    border-radius: 4px;
  }
  .portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
    color: #fff;
    background:  #1d7b49;
  }
  .portfolio #portfolio-flters li:last-child {
    margin-right: 0;
  }
  .portfolio .portfolio-item {
    margin-bottom: 30px;
  }
  .portfolio .portfolio-item .portfolio-info {
    opacity: 0;
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 0;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
  }
  .portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    color: #111;
  }
  .portfolio .portfolio-item .portfolio-info p {
    color: #444444;
    font-size: 14px;
    margin-bottom: 0;
  }
  .portfolio .portfolio-item .portfolio-info .preview-link, .portfolio .portfolio-item .portfolio-info .details-link {
    position: absolute;
    right: 40px;
    font-size: 24px;
    top: calc(50% - 18px);
    color: #2b2b2b;
  }
  .portfolio .portfolio-item .portfolio-info .preview-link:hover, .portfolio .portfolio-item .portfolio-info .details-link:hover {
    color:  #1d7b49;
  }
  .portfolio .portfolio-item .portfolio-info .details-link {
    right: 10px;
  }
  .portfolio .portfolio-item .portfolio-links {
    opacity: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
    position: absolute;
    transition: all ease-in-out 0.3s;
  }
  .portfolio .portfolio-item .portfolio-links a {
    color: #fff;
    margin: 0 2px;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
  }
  .portfolio .portfolio-item .portfolio-links a:hover {
    color: #57e76f;
  }
  .portfolio .portfolio-item:hover .portfolio-info {
    opacity: 1;
    bottom: 20px;
  }
  
  /*--------------------------------------------------------------
  # Portfolio Details
  --------------------------------------------------------------*/
  .portfolio-details {
    margin-top: 75px;
    padding-top: 40px;
  }
  .portfolio-details .portfolio-details-slider img {
    width: 100%;
  }
  .portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid  #1d7b49;
  }
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color:  #1d7b49;
  }
  .portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(17, 17, 17, 0.08);
  }
  .portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  .portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }
  .portfolio-details .portfolio-info ul li + li {
    margin-top: 10px;
  }
  .portfolio-details .portfolio-description {
    padding-top: 30px;
  }
  .portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .portfolio-details .portfolio-description p {
    padding: 0;
  }

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
	padding: 15px 0;
	background:  #1d7b49;
	min-height: 40px;
	/* margin-top: 100px; */
  }
  @media (max-width: 767px) {
	.breadcrumbs {
		padding-top: 45px;
	}
  }
  .breadcrumbs h2 {
	color: #ffd602;
  }
  .breadcrumbs p {
	color: #fff;
  }
  .breadcrumbs ol {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	color: #fff;
  }
  .breadcrumbs ol a {
	color: #fff;
  }
  .breadcrumbs ol li + li {
	padding-left: 10px;
  }
  .breadcrumbs ol li + li::before {
	display: inline-block;
	padding-right: 10px;
	color: #fff;
	content: "/";
  }
  @media (max-width: 991px) {  
	.breadcrumbs .d-flex {
	  display: block !important;
	}
	.breadcrumbs ol {
	  display: block;
	}
	.breadcrumbs ol li {
	  display: inline-block;
	}
  }
  
  .breadcrumbs-article {
	padding: 15px 0;
	background:  #fff;
	min-height: 40px;
	margin-top: 35px;
  }
  
  /*--------------------------------------------------------------
  # Blog
  --------------------------------------------------------------*/
  .blog {
	padding: 40px 0 10px 0;
  }
  .blog .entry {
	padding: 30px;
	margin-bottom: 10px;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }
  .blog .entry .entry-breadcrumbs {
	color: #777777;
  }
  .blog .entry .entry-img {
	max-height: 440px;
	margin: -30px -30px 20px -30px;
	overflow: hidden;
  }
  
  .blog .entry .entry-img-article {  
	margin: 20px 0px;
	overflow: hidden;
  }
  
  .blog .entry .entry-title {
	font-size: 20px;
	font-weight: bold;
	padding: 0;
	margin: 0 0 20px 0;
	white-space: nowrap; 
	width: inherit;
	overflow: hidden;
	text-overflow: ellipsis; 
  }
  .blog .entry .entry-title a {
	color: #111;
	transition: 0.3s;
	text-decoration: none;
  }
  .blog .entry .entry-title a:hover {
	color:  #1d7b49;
  }
  .blog .entry .entry-title-article {  
	font-weight: bold;
	padding: 0;
	color: #1d7b49;
  }
  .blog .entry .entry-meta {
	margin-bottom: 15px;
	color: #777777;
	font-size: 12px;
  }
  .blog .entry .entry-meta ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	align-items: center;
	padding: 0;
	margin: 0;
  }
  .blog .entry .entry-meta ul li + li {
	padding-left: 20px;
  }
  .blog .entry .entry-meta i {
	font-size: 16px;
	margin-right: 8px;
	line-height: 0;
  }
  .blog .entry .entry-meta a {
	color: #847872;
	font-size: 14px;
	display: inline-block;
	line-height: 1;
  }
  .blog .entry .entry-meta-article {  
	color:rgba(0, 0, 0, 0.5);
	font-size: 12px;
  }
  .blog .entry .entry-meta-article ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	align-items: center;
	padding: 0;
	margin: 0;
  }
  .blog .entry .entry-meta-article ul li + li {
	padding-left: 20px;
  }
  .blog .entry .entry-meta-article i {
	font-size: 16px;
	margin-right: 8px;
	line-height: 0;
  }
  .blog .entry .entry-meta-article a {
	color: #847872;
	font-size: 14px;
	display: inline-block;
	line-height: 1;
  }
  .blog .entry .entry-content p {
	line-height: 24px;
	display: -webkit-box;
	max-width: inherit;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
  }
  .blog .entry .entry-content .read-more {
	-moz-text-align-last: right;
	text-align-last: right;
  }
  .blog .entry .entry-content .read-more a {
	display: inline-block;
	background:  #1d7b49;
	color: #fff;
	padding: 6px 20px;
	transition: 0.3s;
	font-size: 14px;
	border-radius: 4px;
	text-decoration: none;
  }
  .blog .entry .entry-content .read-more a:hover {
	background: #1ed33c;
  }
  .blog .entry .entry-content h3 {
	font-size: 22px;
	margin-top: 30px;
	font-weight: bold;
  }
  .blog .entry .entry-content blockquote {
	overflow: hidden;
	background-color: #fafafa;
	padding: 60px;
	position: relative;
	text-align: center;
	margin: 20px 0;
  }
  .blog .entry .entry-content blockquote p {
	color: #4d4643;
	line-height: 1.6;
	margin-bottom: 0;
	font-style: italic;
	font-weight: 500;
	font-size: 22px;
  }
  .blog .entry .entry-content blockquote::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 3px;
	background-color: #111;
	margin-top: 20px;
	margin-bottom: 20px;
  }
  .blog .entry .entry-footer {
	padding-top: 10px;
	border-top: 1px solid #e6e6e6;
  }
  .blog .entry .entry-footer i {
	color: #5e5e5e;
	display: inline;
  }
  .blog .entry .entry-footer a {
	color: #1e1e1e;
	transition: 0.3s;
  }
  .blog .entry .entry-footer a:hover {
	color:  #1d7b49;
  }
  .blog .entry .entry-footer .cats {
	list-style: none;
	display: inline;
	padding: 0 20px 0 0;
	font-size: 14px;
  }
  .blog .entry .entry-footer .cats li {
	display: inline-block;
  }
  .blog .entry .entry-footer .tags {
	list-style: none;
	display: inline;
	padding: 0;
	font-size: 14px;
  }
  .blog .entry .entry-footer .tags li {
	display: inline-block;
  }
  .blog .entry .entry-footer .tags li + li::before {
	padding-right: 6px;
	color: #6c757d;
	content: ",";
  }
  .blog .entry .entry-footer .share {
	font-size: 16px;
  }
  .blog .entry .entry-footer .share i {
	padding-left: 5px;
  }
  .blog .entry-single {
	margin-bottom: 30px;
  }
  .blog .blog-author {
	padding: 20px;
	margin-bottom: 30px;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }
  .blog .blog-author img {
	width: 120px;
	margin-right: 20px;
  }
  .blog .blog-author h4 {
	font-weight: 600;
	font-size: 22px;
	margin-bottom: 0px;
	padding: 0;
	color: #111;
  }
  .blog .blog-author .social-links {
	margin: 0 10px 10px 0;
  }
  .blog .blog-author .social-links a {
	color: rgba(17, 17, 17, 0.5);
	margin-right: 5px;
  }
  .blog .blog-author p {
	font-style: italic;
	color: #bfb9b6;
  }
  .blog .blog-related {
	margin-bottom: 30px;
	padding: 30px 0px;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }
  .blog .blog-related .blog-related-title {
	background-color: #1d7b49;
	padding: 10px 20px 10px 50px;
	margin: 3px 0px;
	color: #fff;
	width: fit-content;
	min-width: 300px;
	text-transform: uppercase;
	font-weight: bold;
  }
  .blog .blog-related ul {
	margin: 10px 0px;
  }
  .blog .blog-related li {
	margin: 10px 20px 10px 20px;
  }
  .blog .blog-related a {
	text-decoration: none;
	color: #111;
  }
  .blog .blog-related a:hover {
	color: #1d7b49;
  }
  .blog .blog-comments {
	margin-bottom: 30px;
	padding: 30px 0px;
  
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }
  .blog .blog-comments .blog-comments-title {
	background-color: #1d7b49;
	padding: 10px 20px 10px 50px;
	margin: 3px 0px;
	color: #fff;
	width: fit-content;
	min-width: 300px;
	text-transform: uppercase;
	font-weight: bold;
  }
  .blog .blog-comments .comments-count {
	font-weight: bold;
  }
  .blog .blog-comments .comment {
	margin-top: 30px;
	position: relative;
  }
  .blog .blog-comments .comment .comment-img {
	margin-right: 14px;
  }
  .blog .blog-comments .comment .comment-img img {
	width: 60px;
  }
  .blog .blog-comments .comment h5 {
	font-size: 16px;
	margin-bottom: 2px;
  }
  .blog .blog-comments .comment h5 a {
	font-weight: bold;
	color: #4d4643;
	transition: 0.3s;
  }
  .blog .blog-comments .comment h5 a:hover {
	color:  #1d7b49;
  }
  .blog .blog-comments .comment h5 .reply {
	padding-left: 10px;
	color: #111;
  }
  .blog .blog-comments .comment h5 .reply i {
	font-size: 20px;
  }
  .blog .blog-comments .comment time {
	display: block;
	font-size: 14px;
	color: #2b2b2b;
	margin-bottom: 5px;
  }
  .blog .blog-comments .comment.comment-reply {
	padding-left: 40px;
  }
  .blog .blog-comments .reply-form {  
	padding: 30px;
  }
  .blog .blog-comments .reply-form h4 {
	font-weight: bold;
	font-size: 22px;
  }
  .blog .blog-comments .reply-form p {
	font-size: 14px;
  }
  .blog .blog-comments .reply-form input {
	border-radius: 4px;
	padding: 10px 10px;
	font-size: 14px;
  }
  .blog .blog-comments .reply-form input:focus {
	box-shadow: none;
	border-color: #57e76f;
  }
  .blog .blog-comments .reply-form textarea {
	border-radius: 4px;
	padding: 10px 10px;
	font-size: 14px;
  }
  .blog .blog-comments .reply-form textarea:focus {
	box-shadow: none;
	border-color: #57e76f;
  }
  .blog .blog-comments .reply-form .form-group {
	margin-bottom: 25px;
  }
  .blog .blog-comments .reply-form .btn-primary {
	border-radius: 4px;
	padding: 10px 20px;
	border: 0;
	background-color: #ffd602;
	color: #111;
  }
  .blog .blog-comments .reply-form .btn-primary:hover {
	background-color: #1e1e1e;
	color: #fff;
  }
  .blog .blog-pagination {
	color: #444444;
  }
  .blog .blog-pagination ul {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
  }
  .blog .blog-pagination li {
	margin: 0 5px;
	transition: 0.3s;
  }
  .blog .blog-pagination li a {
	color: #111;
	padding: 7px 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
  }
  .blog .blog-pagination li.active, .blog .blog-pagination li:hover {
	background:  #ffd602;
  }
  .blog .blog-pagination li.active a, .blog .blog-pagination li:hover a {
	color: #111;
  }
  .blog .sidebar {
	padding: 30px;
	margin: 0 0 60px 20px;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }
  .blog .sidebar .sidebar-title {
	font-size: 20px;
	font-weight: 700;
	padding: 0 0 0 0;
	margin: 0 0 15px 0;
	color: #111;
	position: relative;
  }
  .blog .sidebar .sidebar-item {
	margin-bottom: 30px;
  }
  .blog .sidebar .search-form form {
	background: #fff;
	border: 1px solid #ddd;
	padding: 3px 10px;
	position: relative;
  }
  .blog .sidebar .search-form form input[type=text] {
	border: 0;
	padding: 4px;
	border-radius: 4px;
	width: calc(100% - 40px);
  }
  .blog .sidebar .search-form form button {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	border: 0;
	background: none;
	font-size: 16px;
	padding: 0 15px;
	margin: -1px;
	background:  #1d7b49;
	color: #fff;
	transition: 0.3s;
	border-radius: 0 4px 4px 0;
	line-height: 0;
  }
  .blog .sidebar .search-form form button i {
	line-height: 0;
  }
  .blog .sidebar .search-form form button:hover {
	background: #1ecf3b;
  }
  .blog .sidebar .categories ul {
	list-style: none;
	padding: 0;
  }
  .blog .sidebar .categories ul li + li {
	padding-top: 10px;
  }
  .blog .sidebar .categories ul a {
	color: #111;
	transition: 0.3s;
  }
  .blog .sidebar .categories ul a:hover {
	color:  #1d7b49;
  }
  .blog .sidebar .categories ul a span {
	padding-left: 5px;
	color: #b4aca8;
	font-size: 14px;
  }
  .blog .sidebar .recent-posts .post-item + .post-item {
	margin-top: 15px;
  }
  .blog .sidebar .recent-posts img {
	width: 80px;
	float: left;
  }
  .blog .sidebar .recent-posts h4 {
	font-size: 15px;
	margin-left: 95px;
	font-weight: bold;
  }
  .blog .sidebar .recent-posts h4 a {
	color: #111;
	transition: 0.3s;
  }
  .blog .sidebar .recent-posts h4 a:hover {
	color:  #1d7b49;
  }
  .blog .sidebar .recent-posts time {
	display: block;
	margin-left: 95px;
	font-style: italic;
	font-size: 14px;
	color: #b4aca8;
  }
  .blog .sidebar .tags {
	margin-bottom: -10px;
  }
  .blog .sidebar .tags ul {
	list-style: none;
	padding: 0;
  }
  .blog .sidebar .tags ul li {
	display: inline-block;
  }
  .blog .sidebar .tags ul a {
	color: #515151;
	font-size: 14px;
	padding: 6px 14px;
	margin: 0 6px 8px 0;
	border: 1px solid #c4c4c4;
	display: inline-block;
	transition: 0.3s;
  }
  .blog .sidebar .tags ul a:hover {
	color: #fff;
	border: 1px solid  #1d7b49;
	background:  #1d7b49;
  }
  .blog .sidebar .tags ul a span {
	padding-left: 5px;
	color: #aaaaaa;
	font-size: 14px;
  }
/*------/ Intro Single /------*/
.intro-single {
    padding: 2rem 0 3rem;
  }
  @media (max-width: 767px) {
    .intro-single {
      padding-top: 9rem;
    }
  }
  .intro-single .title-single-box {
    padding: 1rem 0 1rem 2rem;
  }
  .intro-single .title-single-box {
    border-left: 3px solid  #1d7b49;
  }
  .intro-single .title-single-box .title-single {
    font-weight: 600;
    font-size: 2.2rem;
  }
  @media (min-width: 768px) {
    .intro-single .title-single-box .title-single {
      font-size: 2.1rem;
    }
  }
  @media (min-width: 992px) {
    .intro-single .title-single-box .title-single {
      font-size: 2.5rem;
    }
  }
  .intro-single .breadcrumb-box {
    padding: 1rem 0 0 0.5rem;
  }
  .intro-single .breadcrumb {
    background-color: transparent;
    padding-right: 0;
    padding-left: 0;
  }
  .intro-single .breadcrumb a {
    text-decoration: none;
    color: #034e2f;
  }

  /*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.section-about .title-vertical {
    position: absolute;
    letter-spacing: 0;
    transform: rotate(-90deg);
    top: 50px;
    text-align: left;
    font-size: 1.8rem;
    width: 300px;
    font-weight: 700;
    text-align: right;
  }
  .section-about a {
    text-decoration: none;
    color: #06794a;
  }

  .about-img-box {
    padding-left: 1rem;
    position: relative;
  }
  @media (min-width: 576px) {
    .about-img-box {
      padding-left: 4rem;
    }
  }
  @media (min-width: 768px) {
    .about-img-box {
      padding-left: 5rem;
    }
  }
  
  .sinse-box {
    background-color:  #1d7b49;
    padding: 1rem 2rem;
    position: absolute;
    left: 15px;
    bottom: 10px;
  }
  @media (min-width: 576px) {
    .sinse-box {
      padding: 1.5rem 2.5rem;
      bottom: 20px;
    }
  }
  @media (min-width: 768px) {
    .sinse-box {
      padding: 1.5rem 3rem;
    }
  }
  @media (min-width: 992px) {
    .sinse-box {
      padding: 3rem 4.5rem;
    }
  }
  .sinse-box .sinse-title {
    font-weight: 700;
    letter-spacing: 0.043em;
    font-size: 1rem;
  }
  @media (min-width: 576px) {
    .sinse-box .sinse-title {
      font-size: 1.3rem;
    }
  }
  @media (min-width: 768px) {
    .sinse-box .sinse-title {
      font-size: 1.8rem;
    }
  }
  @media (min-width: 992px) {
    .sinse-box .sinse-title {
      font-size: 2.2rem;
    }
  }
  .sinse-box .sinse-title span {
    position: absolute;
  }
  .sinse-box .sinse-title span:after {
    content: " ";
    width: 35px;
    height: 2px;
    background-color: #000000;
    position: absolute;
    bottom: -15px;
  }
  .sinse-box p {
    margin-bottom: 0;
    font-size: 0.7rem;
  }
  @media (min-width: 576px) {
    .sinse-box p {
      font-size: 0.8rem;
    }
  }
  @media (min-width: 576px) {
    .sinse-box p {
      font-size: 1rem;
    }
  }

  .title-box-d {
    padding-bottom: 1.8rem;
    margin-bottom: 1rem;
    position: relative;
  }
  .title-box-d .title-d {
    font-weight: 600;
    font-size: 2rem;
  }
  .title-box-d .title-d:after {
    content: "";
    position: absolute;
    width: 70px;
    height: 4px;
    background-color:  #1d7b49;
    bottom: 20px;
    left: 0;
  }

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-wrap {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
}
.contact .info {
  background: #fff;
  display: block;
  height: fit-content;
}
.contact .info i {
  font-size: 20px;
  color:  #1d7b49;
  float: left;
  width: 44px;
  height: 44px;
  border: 1px solid  #1d7b49;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #111;
}
.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 13px;
  color: #444444;
}
.contact .info:hover i {
  background:  #1d7b49;
  color: #fff;
}
.contact .php-email-form {
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  padding: 30px;
  background: #fff;
}
.contact .php-email-form .form-group {
  padding-bottom: 8px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}
.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color:  #1d7b49;
}
.contact .php-email-form input {
  height: 44px;
}
.contact .php-email-form textarea {
  padding: 10px 12px;
}
.contact .php-email-form button[type=submit] {
  background:  #1d7b49;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}
.contact .php-email-form button[type=submit]:hover {
  background: #2ae149;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* -------------------------------------------------------------
# Layanan 
---------------------------------------------------------------*/
.konfirmasi {    
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
    border: 0.0625rem solid rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    display: flex;
    margin: 10px;
  }

  .kalkulator {    
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
    border: 0.0625rem solid rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    margin: 10px;
  }

.kalkulator-nav{
  display: block;
}
.kalkulator-nav button{
  background-color: #034e2f;
  border:1px solid transparent;
  color: #fff;
  margin: 5px;
}
.kalkulator-nav button:hover{
  background-color: #ffd602;
  color: #000;
}
@media(max-width: 768px) {
  .kalkulator-nav{
    display:flex;
  }
}

.bayarzis {
  background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
    border: 0.0625rem solid rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    display: flex;
    margin: 150px 10px 10px 10px;
}
.next {
  padding: 0 20px ;
}
@media (max-width: 767px) {
  .bayarzis {
    display: block;
    margin: 100px 0 50px;
  }
  .next {
    padding: 20px 0;
  }
}
.bayarzis .table-head {
  background-color: #034e2f;
  color: #fff;
}

.bayarzis ol li {
  list-style: none;
}
.bayarzis .btn-zis {
  border:1px solid transparent;
  color: #000;
  margin: 5px;
}
.bayarzis .btn-zis.active {
  background-color: #ffd602;
}

.banner-kurban {
  margin: 100px 0 100px 0;
  width: 100%;
  height: 100vh;
  position: absolute;
}
@media (max-width: 767px) {
	.banner-kurban  {
    margin: 80px 0 100px 0;
	}
}
.banner-kurban img {
  width: 100%;
}
.widget .kurban {
  background-color: #fff;
  padding: 20px;
  margin: 120vh 10px 10px 10px;
}
@media (max-width: 767px) {
	.widget .kurban {
    margin: 40vh 10px 10px 10px;
	}
}
.widget .kurban .kurban-box {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
  border: 0.0625rem solid rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}
@media (max-width: 767px) {
	.widget .kurban .kurban-box {
    margin-bottom: 10px;
	}
}
.widget .kurban .kurban-box img {
  width: 100%;
  height: auto;
}
.widget .kurban-alur {
  background-color: #fff;
  padding: 20px;
}
.widget .kurban-alur img {
  width: 100%;
  height: auto;
}
/* -------------------------------------------------------------
# Login  
---------------------------------------------------------------*/
.login {
    margin-top: 125px;
    background-color: #fff;
    padding: 40px 0 10px 0;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
    border: 0.0625rem solid rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
}
.login .box-login {
    position: relative;
    
}
.login .box-login .box-login-content{
    padding: 40px 10px 10px 10px;
    color: #111;
}
.login .box-login .box-login-content a{
    background-color: #1d7b49;
}

.btn-neutral {
  color: #212529;
  background-color: #fff;
  border-color: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-neutral:hover {
  color: #212529;
  background-color: #ececec;
  border-color: #e6e6e6;
}

.btn-neutral:focus,
.btn-neutral.focus {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08), 0 0 0 0 rgba(222, 222, 223, 0.5);
}

.btn-neutral.disabled,
.btn-neutral:disabled {
  color: #212529;
  background-color: #fff;
  border-color: #fff;
}

.btn-neutral:not(:disabled):not(.disabled):active,
.btn-neutral:not(:disabled):not(.disabled).active,
.show>.btn-neutral.dropdown-toggle {
  color: #212529;
  background-color: #e6e6e6;
  border-color: #dfdfdf;
}

.btn-neutral:not(:disabled):not(.disabled):active:focus,
.btn-neutral:not(:disabled):not(.disabled).active:focus,
.show>.btn-neutral.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(222, 222, 223, 0.5);
}
.btn-neutral {
  color: #5e72e4;
}
.btn-icon-label .btn-inner--text:not(:first-child) {
  padding-left: 3em;
}

.btn-icon-label .btn-inner--text:not(:last-child) {
  padding-right: 3em;
}

.btn-icon .btn-inner--icon img {
  width: 20px;
}

.btn-icon .btn-inner--text:not(:first-child) {
  margin-left: .75em;
}

.btn-icon .btn-inner--text:not(:last-child) {
  margin-right: .75em;
}
.text-right {
  text-align: right !important;
}
.profile {
  margin-top: 200px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
  border: 0.0625rem solid rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  display: flex;
}
.profile img {
  border: 1px solid #111;
  width: 200px;
  height: 200px;
  margin-top: -125px;
  z-index: 10;
}
.profile-tab {
  margin: 50px 0px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
  border: 0.0625rem solid rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  display: flex;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    color: #fff;
    font-size: 14px;
    background: #111;
  }
  #footer .footer-top {
    padding: 60px 0 30px 0;
    background: #034e2f;
  }
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  #footer .footer-top .footer-contact h3 {
    font-size: 22px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
  }
  #footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.7);
  }
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
  }
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #ffd602;
    font-size: 18px;
    line-height: 1;
  }
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  #footer .footer-top .footer-links ul a {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
  }
  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #fff;
  }
  #footer .footer-newsletter {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
  }
  #footer .footer-newsletter h4 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
  }
  #footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px 0 0 4px;
    text-align: left;
  }
  #footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
  }
  #footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: -4px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background:  #1d7b49;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  #footer .footer-newsletter form input[type=submit]:hover {
    background: #2ae149;
  }
  #footer .credits {
    padding-top: 5px;
    font-size: 13px;
    color: #fff;
  }
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.08);
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  #footer .social-links a:hover {
    background:  #ffd602;
    color: #000;
    text-decoration: none;
  }