.login {
    margin-top: 125px;
    background-color: #fff;
    padding: 40px 0 10px 0;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
    border: 0.0625rem solid rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
}
.login .box-login {
    position: relative;
    
}
.login .box-login .box-login-content{
    padding: 40px 10px 10px 10px;
    color: #111;
}
.login .box-login .box-login-content a{
    background-color: #1d7b49;
}

.btn-neutral {
  color: #212529;
  background-color: #fff;
  border-color: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-neutral:hover {
  color: #212529;
  background-color: #ececec;
  border-color: #e6e6e6;
}

.btn-neutral:focus,
.btn-neutral.focus {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08), 0 0 0 0 rgba(222, 222, 223, 0.5);
}

.btn-neutral.disabled,
.btn-neutral:disabled {
  color: #212529;
  background-color: #fff;
  border-color: #fff;
}

.btn-neutral:not(:disabled):not(.disabled):active,
.btn-neutral:not(:disabled):not(.disabled).active,
.show>.btn-neutral.dropdown-toggle {
  color: #212529;
  background-color: #e6e6e6;
  border-color: #dfdfdf;
}

.btn-neutral:not(:disabled):not(.disabled):active:focus,
.btn-neutral:not(:disabled):not(.disabled).active:focus,
.show>.btn-neutral.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(222, 222, 223, 0.5);
}
.btn-neutral {
  color: #5e72e4;
}
.btn-icon-label .btn-inner--text:not(:first-child) {
  padding-left: 3em;
}

.btn-icon-label .btn-inner--text:not(:last-child) {
  padding-right: 3em;
}

.btn-icon .btn-inner--icon img {
  width: 20px;
}

.btn-icon .btn-inner--text:not(:first-child) {
  margin-left: .75em;
}

.btn-icon .btn-inner--text:not(:last-child) {
  margin-right: .75em;
}
.text-right {
  text-align: right !important;
}
.profile {
  margin-top: 200px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
  border: 0.0625rem solid rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  display: flex;
}
.profile img {
  border: 1px solid #111;
  width: 200px;
  height: 200px;
  margin-top: -125px;
  z-index: 10;
}
.profile-tab {
  margin: 50px 0px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
  border: 0.0625rem solid rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  display: flex;
}