body {
    font-family: "Poppins", sans-serif;
    color: #555555;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #000000;
  }
  
  a {
    color: #000000;
    text-decoration: none;
    transition: all 0.5s ease;
  }
  a:hover {
    color:  #034e2f;
    text-decoration: none;
  }
  
  .link-two {
    color: #000000;
    transition: all 0.5s ease;
  }
  .link-two:hover {
    text-decoration: underline;
    color: #000000;
  }
  
  .link-one {
    color: #000000;
    transition: all 0.5s ease;
  }
  .link-one:hover {
    color: #000000;
    text-decoration: none;
  }
  
  .link-icon {
    color: #000000;
    font-weight: 500;
  }
  .link-icon span {
    font-size: 14px;
    padding-left: 4px;
    vertical-align: middle;
  }
  
  .link-a {
    text-decoration: none;
    color: #ffffff;
    text-decoration: none;
  }
  @media (min-width: 768px) {
    .link-a {
      font-size: 0.9rem;
    }
  }
  @media (min-width: 992px) {
    .link-a {
      font-size: 1rem;
    }
  }
  .link-a:hover {
    color: #ffffff;
    text-decoration: none;
  }
  .link-a span {
    font-size: 18px;
    vertical-align: middle;
    margin-left: 5px;
  }
  @media (min-width: 768px) {
    .link-a span {
      font-size: 1.5rem;
    }
  }
  @media (min-width: 992px) {
    .link-a span {
      font-size: 18px;
    }
  }
  
  .text-brand {
    color: #000000;
    font-size: 2rem;
    font-weight: 600;
  }
  @media (max-width: 767px) {
    .text-brand {
      font-size: 1.8rem;
    }
  }
  
  .color-a {
    text-decoration: none;
    color: #000000;
  }
  
  .color-b {
    color:  #034e2f;
  }
  
  .color-d {
    color: #adadad;
  }
  
  .color-text-a {
    text-decoration: none;
    color: #555555;
  }
  
  .no-margin {
    margin: 0;
  }
  
/*------/ Nav Pills  /------*/
.nav-pills-a {
    text-decoration: none;
  }
  .nav-pills-a.nav-pills .nav-link {
    color: #000000;
    position: relative;
    font-weight: 600;
  }
  .nav-pills-a.nav-pills .nav-link.active {
    background-color: transparent;
  }
  .nav-pills-a.nav-pills .nav-link.active:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color:  #034e2f;
    z-index: 2;
  }
.nav-arrow-a {
    text-decoration: none;
  }
  .nav-arrow-a .owl-arrow .owl-nav {
    font-size: 1.8rem;
    margin-top: -110px;
  }
  .nav-arrow-a .owl-arrow .owl-nav .owl-next {
    margin-left: 15px;
  }
  
  .nav-arrow-b .owl-arrow .owl-nav {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.2rem;
  }
  .nav-arrow-b .owl-arrow .owl-nav .owl-prev,
  .nav-arrow-b .owl-arrow .owl-nav .owl-next {
    padding: 0.7rem 1.5rem !important;
    display: inline-block;
    transition: all 0.6s ease-in-out;
    color: #ffffff;
    background-color:  #034e2f;
    opacity: 0.9;
  }
  .nav-arrow-b .owl-arrow .owl-nav .owl-prev.disabled,
  .nav-arrow-b .owl-arrow .owl-nav .owl-next.disabled {
    transition: all 0.6s ease-in-out;
    color: #ffffff;
  }
  .nav-arrow-b .owl-arrow .owl-nav .owl-prev:hover,
  .nav-arrow-b .owl-arrow .owl-nav .owl-next:hover {
    background-color: #26a356;
  }
  .nav-arrow-b .owl-arrow .owl-nav .owl-next {
    margin-left: 0px;
  }

.navbar-toggle-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    padding: 10px;
  }
  .navbar-toggle-box i {
    line-height: 0;
  }

.navbar-default {
    transition: all 0.5s ease-in-out;
    background-color: transparent;
    padding-top: 28px;
    padding-bottom: 28px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  @media (max-width: 991px) {
    .navbar-default {
      background-color: #ffffff;
      box-shadow: 1px 2px 15px rgba(100, 100, 100, 0.3);
      padding-top: 0px;
    }
  }
  .navbar-default .nav-search {
    color: #000000;
    font-size: 1.5rem;
  }
  .navbar-default.navbar-reduce {
    box-shadow: 1px 2px 15px rgba(100, 100, 100, 0.3);
  }
  .navbar-default.navbar-trans, .navbar-default.navbar-reduce {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-default.navbar-trans .nav-item, .navbar-default.navbar-reduce .nav-item {
    position: relative;
    padding-right: 5px;    
    margin-left: 0;
  }
  @media (min-width: 768px) {
    .navbar-default.navbar-trans .nav-item, .navbar-default.navbar-reduce .nav-item {
      margin-left: 15px;      
    }
  }
  .navbar-default.navbar-trans .nav-link, .navbar-default.navbar-reduce .nav-link {
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    letter-spacing: 0.03em;
    transition: all 0.1s ease-in-out;
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-default.navbar-trans .nav-link:before, .navbar-default.navbar-reduce .nav-link:before {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: 0;
    background-color:  #034e2f;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out 0.3s;
  }
  .navbar-default.navbar-trans .nav-link:hover, .navbar-default.navbar-reduce .nav-link:hover {
    color: #000000;
  }
  .navbar-default.navbar-trans .nav-link:hover:before, .navbar-default.navbar-reduce .nav-link:hover:before {
    transform: scaleX(1);
    transform-origin: left;
  }
  .navbar-default.navbar-trans .show > .nav-link:before,
  .navbar-default.navbar-trans .active > .nav-link:before,
  .navbar-default.navbar-trans .nav-link.show:before,
  .navbar-default.navbar-trans .nav-link.active:before, .navbar-default.navbar-reduce .show > .nav-link:before,
  .navbar-default.navbar-reduce .active > .nav-link:before,
  .navbar-default.navbar-reduce .nav-link.show:before,
  .navbar-default.navbar-reduce .nav-link.active:before {
    transform: scaleX(1);
  }
  .navbar-default.navbar-trans .nav-link:before {
    background-color:  #034e2f;
  }
  .navbar-default.navbar-trans .nav-link:hover {
    color: #000000;
  }
  .navbar-default.navbar-trans .show > .nav-link,
  .navbar-default.navbar-trans .active > .nav-link,
  .navbar-default.navbar-trans .nav-link.show,
  .navbar-default.navbar-trans .nav-link.active {
    color: #000000;
  }
  .navbar-default.navbar-reduce {
    transition: all 0.5s ease-in-out;
    padding-top: 19px;
    padding-bottom: 19px;
  }
  .navbar-default.navbar-reduce .nav-link {
    color: #000000;
  }
  .navbar-default.navbar-reduce .nav-link:before {
    background-color:  #034e2f;
  }
  .navbar-default.navbar-reduce .nav-link:hover {
    color: #000000;
  }
  .navbar-default.navbar-reduce .show > .nav-link,
  .navbar-default.navbar-reduce .active > .nav-link,
  .navbar-default.navbar-reduce .nav-link.show,
  .navbar-default.navbar-reduce .nav-link.active {
    color: #000000;
  }
  .navbar-default.navbar-reduce .navbar-brand {
    color: #000000;
  }
  .navbar-default .navbar-brand img{
    width: 100px;
    height: auto;
  }
  @media (max-width: 991px) {
    .navbar-default .navbar-brand img{
        width: 75px;
        height: auto;
      }
  }
  .navbar-default .dropdown .dropdown-menu {
    border-top: 0;
    border-left: 4px solid  #034e2f;
    border-right: 0;
    border-bottom: 0;
    transform: translate3d(0px, 40px, 0px);
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    transition: all 0.5s cubic-bezier(0.3, 0.65, 0.355, 1) 0s, opacity 0.31s ease 0s, height 0s linear 0.36s;
    margin: 0;
    border-radius: 0;
    padding: 12px 0;
  }
  @media (min-width: 768px) {
    .navbar-default .dropdown .dropdown-menu {
      border-top: 4px solid  #034e2f;
      border-left: 0;
      display: block;
      position: absolute;
      box-shadow: 0 2px rgba(17, 16, 15, 0.1), 0 2px 10px rgba(20, 19, 18, 0.1);
    }
    .navbar-shrink {
      background-color: #fff;
      box-shadow: 1px 2px 15px rgba(100, 100, 100, 0.3);
    }
    .navbar-shrink .navbar-brand {
      color: #000;
    }
    .navbar-shrink .nav-link {
      color: #000;
      padding: 1.5rem 1.5rem 1.25rem;
    }
    .navbar-shrink .nav-link:hover {
      color: #64a19d;
    }
    .navbar-shrink .nav-link:active {
      color: #467370;
    }
    .navbar-shrink .nav-link.active {
      color: #64a19d;
      outline: none;
    }
  }
  .navbar-default .dropdown .dropdown-menu .dropdown-item {
    padding: 12px 18px;
    transition: all 500ms ease;
    font-weight: 600;
    min-width: 220px;
  }
  .navbar-default .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #ffffff;
    color:  #034e2f;
    transition: all 500ms ease;
  }
  .navbar-default .dropdown .dropdown-menu .dropdown-item.active {
    background-color: #ffffff;
    color:  #034e2f;
  }
  .navbar-default .dropdown:hover .dropdown-menu {
    transform: translate3d(0px, 0px, 0px);
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=1);
  }
  .navbar-default .dropdown .dropdown-menu ul {
    list-style: none;
  }
  .navbar-default .dropdown .dropdown-menu ul li {
    padding: 6px 9px;
  }
  .navbar-default .dropdown .dropdown-menu ul li a {
    color: #000000;
    text-decoration: none;
    transition: all 0.5s ease;
    

  }
  .navbar-default .dropdown .dropdown-menu ul li a:hover {
    color:  #034e2f;
    text-decoration: none;
  }
  
  /*------/ Hamburger Navbar /------*/
  .navbar-toggler {
    position: relative;
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: 0;
  }
  
  .navbar-toggler span {
    display: block;
    background-color: #000000;
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    transform: rotate(0deg);
    left: 0;
    opacity: 1;
  }
  
  .navbar-toggler span:nth-child(1),
  .navbar-toggler span:nth-child(3) {
    transition: transform 0.35s ease-in-out;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    transform: rotate(135deg);
    opacity: 0.9;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    transform: rotate(-135deg);
    opacity: 0.9;
  }