/* Author : Baznas Bazis DKI Jakarta
2022 */

/* 
# Reset 
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}

.bg-nav {
	min-height: 250px;
	background-image: url("../../assets/img/header-img.jpg");
	background-attachment: fixed;
	background-position: 70% 100%;
	background-repeat: no-repeat;
	background-size:cover;
	opacity: 95%;
}
.bg-img {
	background-image: url("../../assets/img/header-img.jpg");
	background-attachment: fixed;
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size:cover;
}
.bg-img-rad {
	background-image: url("../../assets/img/header-img.jpg");
	background-attachment: fixed;
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
	border: 0.0625rem solid rgba(0, 0, 0, 0.5);
	border-radius: 0.5rem;
}
.bg-img-bw {
	/* position: relative; */
	background-image: url("../../assets/img/DSC05194.JPG");
	background-attachment: fixed;
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.break-img{
	display: block;
	position: relative;
	width: 100%;
	max-height: 250px;
	overflow: hidden;
	margin-top: 90px;
}
.break-img img {
    display: block;
    width: 100%;
    max-height: 340px;
    object-fit: cover;
    object-position: center;
    z-index: 1;
	filter: grayscale(100%);
}
/* Content */
.content {
    min-height: 500pt;
	margin-bottom: 10px;
}

.not-found {
	padding-top: 150px;
	text-align: center;
}
.not-found h1 {
	font-size: 190px;
}
.not-found h3 {
	text-transform: uppercase;
}
.not-found a {
	color: #034e2f;
	text-decoration: none;
}
.not-found a:hover {
	color: #ffd602;
}

@media (max-width: 767px) {
	.not-found {
		padding-top: 200px;
	}
    .not-found h1 {
		font-size: 150px;
	}
	.not-found h3 {
		font-size: 20px;
		text-transform: uppercase;
	}
	.not-found a {
		color: #034e2f;
		text-decoration: none;
	}
	.not-found a:hover {
		color: #ffd602;
	}
  }